name: run-tests and lint
on: push
env:
  CI: true
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      # Node versions list
      matrix:
        node-version: [20.x, 22.x, 24.x]
        
    steps:
      - uses: actions/checkout@v5
      - run: make install
      - run: make lint
      - run: make test
      - run: make test-coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
